body {
    font-family: sans-serif;
    text-align: center;
    padding: 3rem;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 725ms ease-in-out;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
}
.head{
    color: #99b9c7;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;

}
h1 {
    animation: bounceIn 2s;
    color: #99b9c7;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}